<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;0,700;1,100;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <div class="section-items">
                <img class="img-logo" src="./img/logo-mercado-liebre.svg" style="width: 361px;">
                <i class="fa-solid fa-bars"></i>
                <div class="buscador">
                <form action=""  method="get">
                    <input
                      type="text"
                      name=""
                      id=""
                      placeholder="Buscar productos, marcas"
                    />
                    <button type="submit">enviar</button>
                  </form>
                  <a href="">Comprá en cuotas y sin tarjeta de crédito</a>
                </div>
            </div>
            
            <div class="section-items">
                <ul class="menu">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href=""></a>Vender</li>
                    <li><a href="">Ayuda</a></li>
                </ul>
                <ul class="menu">
                    <li><a href="registro.html">Crea tu Cuenta</a></li>
                    <li><a href="">Ingresa <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M217.9 105.9L340.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L217.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1L32 320c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM352 416l64 0c17.7 0 32-14.3 32-32l0-256c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l64 0c53 0 96 43 96 96l0 256c0 53-43 96-96 96l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z"/></svg></a></li>  
                    <li><a href="">Mis Compras</a></li>
                </ul>
            </div>
        </nav>
        <div class="banner"></div>
       </header>
       <main>
            <h1 style="text-align: center;">REGISTRO</h1>
            <form class="formulario" action="respuesta.js" method="get">
                <label for="usuario">Ingrese su Usuario o Email:</label>
                <input type="text" name="usuario" id="usuario" placeholder="Perez, Juan">
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="">
                <label for="passwordC">Confirmar Contraseña</label>
                <input type="password" name="passwordC" id="">
                <button type="reset">borrar</button>
                <button type="submit">enviar</button>
            </form>
       </main>
    <footer>
        <h1>Pagá con tarjeta o en efectivo</h1>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        <h1>● Envío gratis desde $ 2.500</h1>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        <h1>● Seguridad, de principio a fin</h1>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>

<h1>● Copyright © 1999-2020 MercadoLiebre S.R.L.</h1>
    </footer>
</body>
</html>